*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

img{
    width: 100%;
}

/* header */

header{
    background-image: url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.logo{
    height: 70px;
    width: 140px;
    margin-top: 30px;
}

nav{
    width: 80%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

a{
    text-decoration: none;
    color: currentColor;
}

section div .button{
    border-radius: 30px;
}

.style1{
    padding: 5px 10px;
    background-color: white;
    margin-top: calc(30px - 5px);
    font-weight: 500;
    font-size: 18px;
}

.center{
    text-align: center;
}

.container.center h1{
    color: white;
    font-size: 58px;
    font-weight: 900;
    padding-top: 160px;
    padding-bottom: 40px;
}

.style2{
    border-radius: 32px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 24px;
}

.container.center p{
    color: white;
    font-size: 24px;
    font-weight: 500;
    max-width: 70%;
    margin: 0 auto;
}

.container.center div{
    margin-top: 35px;
}

.container.center div span:first-child{
    background-color: white;
}

.container.center div span:last-child{
    background-color: rgb(41, 37, 37);
    color: white;
    margin-left: 20px;
}

main .container{
    margin-top: 30px;
    margin-bottom: 60px;
}
main section .img{
    max-width: 60%;
}

main section .img.fl, .img.fr{
    max-width: 50%;
}

main section .paragrafo-main{
    max-width: 40%;
}

section .paragrafo-main h1{
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 15px;
}

section .paragrafo-main p{
    font-size: 22px;
    margin-bottom: 130px;
}

.space-top{
    padding-top: 200px;
}

section .paragrafo-main p:last-child{
    margin-bottom: 20px;
    width: 90%;
}

main section .img:last-child{
    max-width: 100%;
}

.final-paragrafo{
    text-align: center;
}

main section .final-paragrafo h1{
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 10px;
}

main section .final-paragrafo p{
    font-size: 22px;
    margin-bottom: 15px;
}

.bkg-grey{
    background-color: rgba(204, 200, 200,0.2);
}

.last-bkg-main{
    background-image: url(img/stars.svg);
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.last-bkg-main h2{
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 50px;
}

.bkg-grey:last-child{
    padding-bottom: 150px;
}

.bkg-grey a{
    background-color: rgb(149, 178, 216);
    color: white;
}